extends blocks/layout-default

block head
	title AnimLoaderJS
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(rel='stylesheet' href='css/bootstrap.min.css')
	link(rel='stylesheet' href='css/bootstrap-grid.min.css')
	link(rel='stylesheet' href='css/bootstrap-reboot.min.css')
	link(rel='stylesheet' href='css/main.css')

block content
	include blocks/menu
	include blocks/workarea

	script(src='js/jquery.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/main.js')